<section>
    <img src="/img/Quotes room.png" alt="logo" target="logo">
    <h1>The Quotes Room</h1>
    <nav>
        <ul>
            <li><a href="/">Authors</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</section>