<section>
    <img src="assets/Quotes room.png" alt="logo" target="logo">
    <h1>The Quotes Room</h1>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
    <input id="search" type="text" placeholder="Author..">
    <button id="submit" type="submit"><i class="fa fa-search"></i></button>
</section>