<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <section>
            <div class="title-box">
                <h2>
                    Check network!
                </h2>
                <hr />
                <p id="offline">
                    Going offline for some days is like a new world you're checking in..
                </p>
            </div>
        </section>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>

</html>