<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <section id="about">
            <div class="title-box">
                <h3>About</h3>
                <hr/>
            </div>
            <h4></h4>
            <footer>
                <span>© 2023 Creator of The Quotes Room</span>
            </footer>
        </section>
    </main>
</body>
</html>