<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main id="router-view">
        <section>
            <div class="title-box">
                <span></span>
                <h2></h2>
                <hr />
                <p></p>
            </div>
            <div class="loading"></div>
            <div class="info">
                <q></q>
            </div>
            <footer>
                <span>
                    <button>Random</button>
                    <button>Previous</button>
                    <button>Next</button>
                </span>
            </footer>
        </section>
    </main>
    
</body>
</html>